.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

.buttonCreate {
  background-color: #28a745;
}

.buttonCreate:hover {
  background-color: #218838;
}

.buttonUpdate {
  background-color: #007bff;
}

.buttonUpdate:hover {
  background-color: #0056b3;
}

.buttonDelete {
  background-color: #dc3545;
}

.buttonDelete:hover {
  background-color: #c82333;
}

span {
  display: block;
  text-align: center;
  margin: 20px 0;
  color: #555;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.m10 {
  margin: 10px;
  width: 100px;
}

.formContainer {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

input {
  width: -webkit-fill-available;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
